@import url("index.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
.navbar a {
    position: relative;
   font-size: 18px;
   color: #1d1e1f;
   font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  }
  .navbar a::before {
    Content: '';
      Position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 2px;
      background: white;
      transition: .3s;
    }
    
    .logo{
      width: 100px;
    }
    
    .navbar a:hover:before {
      width: 100%;
      background-color: #5c6843;
      color: white;
    }
    
    body, h4, ul, p {
      margin: 20;
      padding: 0;
    }
    .logo{
      width: 100px;
    
      
      }

      .navbar-collapse{
        flex-grow: 0 !important;

      }


    .problemStatement{
     
        padding-top: 70px;
        padding-bottom: 70px ;
        margin-top: 5%;
        margin-bottom: 5%;
       
    }

 .hero-section{
  padding-top: 50px;
  margin-left: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 18px;
 }

 .text-start{
 margin-bottom: 100px;
 padding-bottom: 100px;
  padding-left: 80px;
  font-size: 24px;
}
 .userPersona{
  width:  100%;
  height: auto;
  
 }
 .userflow-image{
  width: 80%;
  height: auto;
  padding-left: 30%;
 }

.mobilemockup{
 padding-left: 40%;
}
.desktopmockup{
  padding-left: 10%;
}

